@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --font-family: 'Inter', 'Segoe UI', Roboto, sans-serif;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: 1.6rem;
}
